# Virtual environments
myenv/
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.so

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
